.tool-container {
    display: none;
    text-align: center;
}

.tool {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0px 20px;
    transition: all 0.5s;
}
.tool-pressed{
    background: #cecece;
}

.tool h2 {
    padding-top: 40px;
}

.tool p {
    margin: 0;
}
